<ul class="job-list" *ngIf="vacancyInfo">
  <h3 class="displayed-result-flag">{{vacancyInfo.title}} Job Recruitment &nbsp;<span *ngIf="vacancyInfo.recruiter">at {{vacancyInfo.recruiter}}</span> (Full
    Job Description)</h3>
  <li class="job-list-item">
    <div>
      <div class="job-row-one job-row">
        <div class="job-title">{{vacancyInfo.title}} Job Recruitment &nbsp;
          <span *ngIf="vacancyInfo.children.length">({{vacancyInfo.availablePositions}} Positions)</span>
        </div>
        <div class="date-posted">{{vacancyInfo.updatedAt | date: 'fullDate'}}</div>
      </div>
    </div>
    <div>
      <div class="job-row-two job-row">
        <h4 class="featured">{{vacancyInfo.vacancyType}}</h4>
        <p>{{vacancyInfo.details}}</p>
      </div>
    </div>
    <div class="simple-paragraph job-row">
      <span>We are recruiting to fill the position below:</span>
    </div>

    <div *ngFor="let child of (vacancyInfo.children); let j = index" class="job-title-only simple-paragraph job-row small-top-margin">
      <!-- Job Title -->
      <span class="made-bold">{{j + 1}}.</span> &nbsp;
      <span class="made-bold">{{child.vacancyTitle}}</span>
      <!-- Job Location -->
      <div *ngIf="vacancyInfo.location" class="job-location-only simple-paragraph padding-top job-row">
        <span class="made-bold">&nbsp; Location:</span> &nbsp;
        <span>{{vacancyInfo.location}}</span>
      </div>
      <!-- Job Link -->
      <div class="job-link simple-paragraph  job-row">
        <span (click)="navigateToDetailsPage(child.vacancyId)">&nbsp; Click Here To View Details</span>
      </div>
    </div>
  </li>
</ul>