<div class="wrapper">
  <div class="container">
    <div class="wrapHeader">
      <div class="logo">
        <img src="assets/images/icons/logo.png" alt="">
      </div>
      <div class="main-body">
        <div class="one">
          <div class="logo-name">
            <span class="">
              <span id="hotel">HOTEL</span>
              <span id="room">ROOM</span>
              <span id="plus">PLUS</span>.COM</span>
          </div>
          <div class="socials">
            <span class="facebook">
              <i class="fa fa-facebook-f"></i>
            </span>
            <span class="google-plus">
              <i class="fa fa-google-plus-g"></i>
            </span>
            <span class="lindedIn">
              <i class="fa fa-linkedin-in"></i>
            </span>
          </div>
        </div>
        <div class="two">...providing all round hospitality & tourism solutions</div>
        <div class="three">Your preferred Hotel Room Booking/Reservation and Nigeria’s No.1 Hospitality and Tourism Services</div>

      </div>
    </div>
  </div>
  <div class="four">A one-stop E-Services Portal for Hospitality and Tourism Solutions</div>
</div>