<div class="grey-area margin-tp">
  <div class="wrapper">
    <div class="footer-logo">
      <img src="assets/images/icons/logo.png" alt="">
    </div>
    <div class="footer-main">
      <div class="contact-us">
        <strong>Contact Us</strong>
      </div>
      <div class="emails">
        <div class="email1">
          <a href="">E-mail: info@hotelroomplus.com</a>
        </div>
        <div class="email2">
          <a href="">E-mail: we-care@hotelroomplus.com</a>
        </div>
      </div>
      <div class="phones">We-Care Lines: +234 706-564-1004, +234 817-822-2212, +234 906-222-2461, +234 805-928-4610</div>
    </div>
  </div>
</div>