<header>
  <div class="htop">
    <div class="container">
      <div class="row headertop">
        <div class="cwidth">
          <div class="hlogo">
            <div>
              <img src="assets/images/icons/logo.png" alt="">
            </div>
          </div>
          <div class="greeting-message move-center">
            <a id="topM" routerLink="/">
              <span id="welcome" class="">Welcome to </span>
              <span class="">
                <span id="hotel">HOTEL</span>
                <span id="room">ROOM</span>
                <span id="plus">PLUS</span>.COM</span>
            </a>
          </div>
          <p class="greeting-message move-center">Your preferred Hotel Room Booking/Reservation and Nigeria’s No.1 Hospitality and Tourism Solutions Portal</p>
        </div>
      </div>
    </div>
    <div id="green-bar">Your preferred Hotel Room Booking/Reservation and Nigeria’s No.1 Hospitality and Tourism Solutions Portal</div>
  </div>
</header>