<app-job-portal></app-job-portal>

<div class="wrapper">
  <div class="menu-bar">
    <div class="tourism inactive-menu" routerLink="tourism-info" [ngClass]="{'active-menu': currentTab==='tourism-info'}" (click)="setTab('tourism-info')">
      <span>Nigerian Hospitality and
      </span>
      <span class="mobile-info">Tourism Info</span>
    </div>
    <div class="search inactive-menu" routerLink="vacancy-search" [ngClass]="{'active-menu': currentTab==='vacancy-search'}"
      (click)="setTab('vacancy-search')">
      <span id="search-logo" class="">
        <span id="hotel">HOTEL</span>
      <span id="room">ROOM</span>
      <span id="plus">PLUS</span>.COM</span>
      <br>
      <span class="mobile-info">Great Search.
      </span>
      <span>Great Job.</span>
    </div>
    <div class="vacancies inactive-menu" routerLink="vacancy-board" [ngClass]="{'active-menu': currentTab==='vacancy-board'}"
      (click)="setTab('vacancy-board')">
      <span>Post Hospitality, Tourism and other </span>
      <span class="mobile-info">Job Vacancies </span>
      <span>free</span>
    </div>
  </div>
</div>

<!-- Vacancies / Job Searches / Tourism Info -->
<router-outlet></router-outlet>
<!-- <app-vacancy-board></app-vacancy-board> -->