<app-job-portal></app-job-portal>

<div class="wrapper">
  <div class="menu-bar">
    <div class="tourism">
      <span>Nigerian Hospitality and
      </span>
      <span class="mobile-info">Tourism Info</span>
    </div>
    <div class="search">
      <span id="search-logo" class="">
        <span id="hotel">HOTEL</span>
        <span id="room">ROOM</span>
        <span id="plus">PLUS</span>.COM</span>
      <br>
      <span class="mobile-info">Great Search.
      </span>
      <span>Great Job.</span>
    </div>
    <div class="vacancies">
      <span>Post Hospitality, Tourism and other </span>
      <span class="mobile-info">Job Vacancies </span>
      <span>free</span>
    </div>
  </div>
</div>

<!-- Vacancies and Job Searches -->
<app-vacancy-board></app-vacancy-board>
<!-- Footer -->
<app-footer></app-footer>