<!-- Mobile View -->
<!-- <div class="mobile-alt-bar">
  <div class="menu-btn">
    <span>Job Menu</span>
  </div>
  <div class="mobile-menu-dropdown"></div>
</div> -->
<!-- Standard View -->
<div class="wrapper">
  <aside>
    <div class="side-bar">
      <div class="side-header">
        <span>Hospitality and Tourism Jobs</span>
      </div>
      <div class="side-body">
        <div data-toggle="collapse" data-target="#accordion" class="clickable">
          <div class="job-category card">
            <span>Admin</span>
          </div>
        </div>
        <div id="accordion" class="collapse">
          <div class="subcat">
            <a>Consultants</a>
          </div>
          <div class="subcat">
            <a>General Managers (Expatriates)</a>
          </div>
          <div class="subcat">
            <a>General Managers</a>
          </div>
        </div>

        <div data-toggle="collapse" data-target="#accordion1" class="clickable">
          <div class="job-category card">
            <span>Operations</span>
          </div>
        </div>
        <div id="accordion1" class="collapse">
          <div class="subcat">
            <a>Consultants</a>
          </div>
          <div class="subcat">
            <a>General Managers (Expatriates)</a>
          </div>
          <div class="subcat">
            <a>General Managers</a>
          </div>
        </div>


        <div class="job-category card">
          <span>F & B</span>
        </div>
        <div class="job-category card">
          <span>Kitchen</span>
        </div>
      </div>
    </div>
  </aside>
  <div class="main-job-area">
    <div class="metro">
      <div class="card-rec pull-up animated fadeInLeft" routerLink="/job-portal">
        <div class="top-most">
          <div class="tips">Get your dream job</div>
          <div class="img">
            <img src="assets/images/icons/job.png" alt="">
          </div>
        </div>
        <span class="one">
          <strong>
            <a class="card-title">ONLINE JOB ADVERT & EMPLOYMENT SERVICES</a>
          </strong>
        </span>
        <div class="action-btn-full">View Jobs</div>
      </div>
      <div class="card pull-up animated fadeInLeft">
        <div class="top-most">
          <div class="tips">Booking Made Easy</div>
          <div class="img">
            <img src="assets/images/icons/hotel.png" alt="">
          </div>
        </div>
        <span class="one">
          <strong>
            <a class="card-title">ONLINE HOTEL ROOM BOOKING/RESERVATION</a>
          </strong>
        </span>
        <div class="action-btn-empty">Book Today</div>
      </div>
    </div>
  </div>
</div>