.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

}

.side-bar {
    padding: 10px 15px;
}

.metro {
    grid-template-columns: 1fr;
    padding: 30px;
}

.side-header {
    color: #39424e;
    font-size: 20px;
    line-height: 1.3em;
    margin: 0;
    text-align: center;
    padding-bottom: 15px;
}

.job-category {
    border-bottom: 1px solid rgba(241, 240, 240, .5);
    font-size: 16px;
    padding: 15px;
    color: #2d333d;
}

.job-category:hover, .job-category:focus {
    background: #f3f7f7
}

.subcat {
    padding: 5px 15px;
    border-bottom: 1px solid rgba(204, 201, 201, 0.6);
}

.subcat a {
    font-size: 14px;
}

.mobile-vacancy-cat-bar {
    background: #39424e;
    height: 40px;
}


.mobile-vacancy-cat-bar {
    display: none;
}

.sideAds-2 {
    display: grid;
    justify-content: center;
    align-content: center;
    font-style: italic;
    border: 1px solid #A8A8AA;
    height: 500px;
    margin: 20px;
}

.menu-btn {
    box-sizing: border-box;
    vertical-align: middle;
    line-height: 18px;
    font-size: 14px;
    cursor: pointer;
}

.menu-btn {
    border: 1px solid #13A853;
    border-radius: 2px;
    color: #fff;
    background: #2ec866;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.08), inset 0 -1px 4px rgba(151,159,175,0.2);
    text-decoration: none !important;
    padding: 10px 15px;
    margin-bottom: 0; 
    width: 200px;
    font-size: 18px; 
}


@media (max-width: 970px) {
    aside {
        display: none;
    }
    .menu-btn, .mobile-vacancy-cat-bar {
        display: grid;
    }
    .wrapper {
        display: grid;
        grid-template-columns:3fr 1fr;
        padding-left: 10px;
        padding-right: 10px;
    }
    
}

@media (max-width: 770px) {
    .wrapper {
        display: grid;
        grid-template-columns:1fr;
    }
}
