<!-- Mobile View -->
<div class="mobile-vacancy-cat-bar">
  <div class="menu-btn">
    <span>Job Categories</span>
  </div>
  <div class="mobile-menu-dropdown"></div>
</div>
<!-- Standard View -->
<div class="wrapper animated fadeIn">
  <aside>
    <div class="side-bar">
      <div class="side-header">
        <a (click)="resetFilters()">Hospitality and Tourism Jobs</a>
      </div>
      <div class="side-body" *ngFor="let category of _categories; let i = index;">
        <div data-toggle="collapse" [attr.data-target]="'#' + i" class="clickable" aria-expanded="true">
          <div class="job-category card">
            <span>{{category.name}}</span>
          </div>
        </div>
        <!-- THIS MAKES WE ARE ON THE 'JOB LISTING' VIEW -->
        <div id="{{i}}" class="collapse in" routerLink="job-listing">
          <div class="subcat" *ngFor="let subcat of category.subcat">
            <a (click)="setFilter('' + subcat)">{{subcat}}</a>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <div class="main-job-area">
    <router-outlet></router-outlet>
  </div>
  <div class="sideAds-2">
    <span>(Space for paid ad)</span>
  </div>
</div>