<!-- Mobile View -->
<!-- <div class="mobile-alt-bar">
  <div class="menu-btn">
    <span>Job Menu</span>
  </div>
  <div class="mobile-menu-dropdown"></div>
</div> -->
<!-- Standard View -->
<div class="wrapper">
  <aside>
    <div class="side-bar">
      <div class="side-header">
        <span>Hospitality and Tourism Jobs</span>
      </div>
      <div class="side-body">
        <div data-toggle="collapse" data-target="#accordion" class="clickable">
          <div class="job-category card">
            <span>Admin</span>
          </div>
        </div>
        <div id="accordion" class="collapse">
          <div class="subcat">
            <a>Consultants</a>
          </div>
          <div class="subcat">
            <a>General Managers (Expatriates)</a>
          </div>
          <div class="subcat">
            <a>General Managers</a>
          </div>
        </div>

        <div data-toggle="collapse" data-target="#accordion1" class="clickable">
          <div class="job-category card">
            <span>Operations</span>
          </div>
        </div>
        <div id="accordion1" class="collapse">
          <div class="subcat">
            <a>Consultants</a>
          </div>
          <div class="subcat">
            <a>General Managers (Expatriates)</a>
          </div>
          <div class="subcat">
            <a>General Managers</a>
          </div>
        </div>


        <div class="job-category card">
          <span>F & B</span>
        </div>
        <div class="job-category card">
          <span>Kitchen</span>
        </div>
      </div>
    </div>
  </aside>
  <div class="main-job-area">
    <!-- <div class="metro">
      <div class="card-rec pull-up animated fadeInLeft" routerLink="/job-portal">
        <div class="top-most">
          <div class="tips">Get your dream job</div>
          <div class="img">
            <img src="assets/images/icons/job.png" alt="">
          </div>
        </div>
        <span class="one">
          <strong>
            <a class="card-title">ONLINE JOB ADVERT & EMPLOYMENT SERVICES</a>
          </strong>
        </span>
        <div class="action-btn-full">View Jobs</div>
      </div>
      <div class="card pull-up animated fadeInLeft">
        <div class="top-most">
          <div class="tips">Booking Made Easy</div>
          <div class="img">
            <img src="assets/images/icons/hotel.png" alt="">
          </div>
        </div>
        <span class="one">
          <strong>
            <a class="card-title">ONLINE HOTEL ROOM BOOKING/RESERVATION</a>
          </strong>
        </span>
        <div class="action-btn-empty">Book Today</div>
      </div>
    </div> -->

    <ul class="job-list">
      <li class="job-list-item">
        <div data-toggle="collapse" data-target="#job-row1" class="clickable">
          <div class="job-row-one">
            <div class="job-title">IHS Towers Job Recruitment (3 Positions)</div>
            <div class="date-posted">Oct 2nd, 4:00 pm GMT</div>
            <div class="job-description">Description</div>
          </div>
        </div>
        <div id="job-row1" class="collapse">
          <div class="job-row-two">
            <h4 class="featured">featured</h4>
            <p>HS Towers, the largest independent mobile telecommunications infrastructure provider in Europe, Africa and the
              Middle East, is currently seeking applications from suitably qualified candidates to fill the following positions</p><a>Read More...</a>
          </div>
        </div>
      </li>
      <li class="job-list-item">
        <div data-toggle="collapse" data-target="#job-row2" class="clickable">
          <div class="job-row-one">
            <div class="job-title">
              MainOne Cable Nigeria Job Recruitment (5 Positions)</div>
            <div class="date-posted">Oct 2nd, 4:00 pm GMT</div>
            <div class="job-description">Description</div>
          </div>
        </div>
        <div id="job-row2" class="collapse">
          <div class="job-row-two">
            <h4 class="featured">featured</h4>
            <p>HS Towers, the largest independent mobile telecommunications infrastructure provider in Europe, Africa and the
              Middle East, is currently seeking applications from suitably qualified candidates to fill the following positions</p><a>Read More...</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>