<div class="container margin-tp" id="topDiv">
  <div class="row slideborder">
    <div class="col-lg-12 col-md-12 slb">
      <div id="slideshow0" class="owl-carousel owl-theme">
        <div class="text-center">
          <a href="#">
            <img src="assets/images/slider/Slider-1.jpg" alt="MacBookAir" class="img-responsive" />
          </a>
        </div>
        <div class="text-center">
          <a href="#">
            <img src="assets/images/slider/Slider-2.jpg" alt="iPhone 6" class="img-responsive" />
          </a>
        </div>
      </div>
    </div>
    <!-- End - Main sliders -->

    <!-- Optional Side Banners ( Next to Main Sliders) -->

    <!-- <div class="col-lg-4 col-md-4 hidden-xs hidden-sm sellbanner">
        <div class="beffect">
          <a href="#">
            <img src="assets/images/slider/390X245-390x245.jpg" alt="Sell Banner2" class="img-responsive center-block" />
          </a>
        </div>
        <div class="beffect">
          <a href="#">
            <img src="assets/images/slider/390X245-2-390x245.jpg" alt="Sell Banner1" class="img-responsive center-block" />
          </a>
        </div>
      </div> -->

    <!-- /End - Optional Side Banners ( Next to Main Sliders) -->
  </div>

</div>