<div class="container">
  <div class="wrapper">
    <div class="metro">
      <div class="card-rec pull-up animated fadeInLeft" routerLink="/job-portal">
        <div class="top-most">
          <div class="tips">Visit our blog</div>
          <div class="img">
            <img src="assets/images/icons/event.png" alt="">
          </div>
        </div>
        <span class="one">
          <strong>
            <a class="card-title">VISIT OUR BLOG FOR HOSPITALITY GISTS</a>
          </strong>
        </span>
        <div class="action-btn-full">View Jobs</div>
      </div>
      <div class="card pull-up animated fadeInLeft">
        <div class="top-most">
          <div class="tips">Booking Made Easy</div>
          <div class="img">
            <img src="assets/images/icons/hotel.png" alt="">
          </div>
        </div>
        <span class="one">
          <strong>
            <a class="card-title">ONLINE HOTEL ROOM BOOKING/RESERVATION</a>
          </strong>
        </span>
        <div class="action-btn-empty">Book Today</div>
      </div>
    </div>
  </div>
</div>