<div class="blue-area">
  <div class="container">
    <div class="wrapper">
      <div class="action-bar">
        <div class="register">
          <div>New Applicant?
            <span id="free">Register free!</span>
          </div>
        </div>
        <div class="form">
          <form>
            <div class="email">
              <input type="text" placeholder="Email" autocomplete="new-password">
            </div>
            <div class="password">
              <input type="password" placeholder="Password" autocomplete="new-password">
            </div>
            <div class="login">
              <div>Login</div>
            </div>
          </form>
        </div>
        <div id="mobile-login" class="login">
          <div>Login</div>
        </div>
        <div class="forgot-password">
          <div>Forgot Password?</div>
        </div>
      </div>
    </div>
  </div>
</div>